.example-container  {
    margin-left: 450px;
    text-align: center;


}

.aa{
  width: 500px;
  background-color: rgb(235, 230, 230);

}
body{
  background-color: rgb(223, 220, 206);
}
a , h3{
  font-family:Calibri
}
.positionNavBar{
  margin-left: 30px;
  margin-top: 10px;
}




